@import url("https://joebamna.github.io/newtab/style_base.css");

.Links > a[href="https://apps.apple.com/ca/iphone/today"] > i > img[src]
{content: url("https://apps.apple.com/assets/favicon/favicon-180.png");image-rendering: auto}

.Links > a[href="https://autohotkey.com/docs/v2/"] > i > img[src]
{content: url("https://joebamna.github.io/newtab/img/AutoHotkey.svg");image-rendering: auto;background-color: #448e3aff;padding: 8px 8px;width: 64px;height: 64px}

.Links > a[href="https://balatrowiki.org/"] > i > img[src]
{content: url("https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/6d/d3/0c/6dd30caf-f830-22d5-ba44-448cdff0df30/iOS_AppIcon_Premium-0-0-1x_U007epad-0-1-85-220.png/200x200ia-75.webp");image-rendering: auto}

.Links > a[href="https://beatleader.com/"] > i > img[src]
{content: url("https://avatars.githubusercontent.com/u/98843512?v=4");image-rendering: auto}

.Links > a[href="https://beatsaver.com/"] > i > img[src]
{content: url("https://joebamna.github.io/newtab/img/BeatSaver.png");image-rendering: auto;padding: 8px 8px;background-color: #222222;width: 64px;height: 64px}

.Links > a[href="https://bsky.app/"] > i > img[src]
{content: url("https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/d3/d1/cd/d3d1cdbd-2b80-5f3b-721c-9cf2c711bdab/AppIcon-0-0-1x_U007ephone-0-85-220.png/246x0w.webp");image-rendering: auto}

.Links > a[href="https://www.boot.dev/dashboard"] > i > img[src]
{content: url("https://joebamna.github.io/newtab/img/BootDotDev.png");image-rendering: auto}

.Links > a[href="https://www.curseforge.com/"] > i > img[src]
{content: url("https://joebamna.github.io/newtab/img/CurseForge.png");image-rendering: auto}

.Links > a[href="https://gdbrowser.com/search"] > i > img[src]
{content: url("https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/87/a1/b1/87a1b173-cc9e-b506-c387-9faccdbb523e/AppIcon-1x_U007emarketing-0-11-0-85-220-0.png/246x0w.webp");image-rendering: auto}

.Links > a[href="https://gamebanana.com/games/297"] > i > img[src]
{content: url("https://joebamna.github.io/newtab/img/GameBanana.png");image-rendering: auto;background-color: white}

.Links > a[href="https://gamejolt.com/games"] > i > img[src]
{content: url("https://s.gjcdn.net/assets/Bvg5_7wI.png");image-rendering: auto;padding: 4px 4px;background-color: #292929;width: 64px;height: 64px}

.Links > a[href="https://gemini.google.com/app"] > i > img[src]
{content: url("https://icons.duckduckgo.com/ip3/gemini.google.com.ico");image-rendering: auto;background-image: linear-gradient(to top, white, #D3D3D3);padding: 8px 8px;width: 64px;height: 64px}

.Links > a[href="https://github.com/joebamna"] > i > img[src]
{content: url("https://joebamna.github.io/newtab/img/Github.png");image-rendering: auto;background-image: linear-gradient(to bottom, #353c47, #0f1216)}

.Links > a[href="https://mail.google.com/mail/u/0/#inboxh"] > i > img[src]
{content: url("https://ssl.gstatic.com/ui/v1/icons/mail/rfr/gmail.ico");image-rendering: auto;padding: 4px 4px;background-color: white;width: 64px;height: 64px}

.Links > a[href="https://itch.io/"] > i > img[src]
{content: url("https://static.itch.io/images/itchio-textless-white.svg");image-rendering: auto;padding: 8px 8px;background-color: #c54f4f;width: 64px;height: 64px}

.Links > a[href="https://love2d.org/wiki/Main_Page"] > i > img[src]
{content: url("https://joebamna.github.io/newtab/img/LOVE.png");image-rendering: auto}

.Links > a[href="https://www.lua.org/manual/5.1/"] > i > img[src]
{content: url("https://www.lua.org/images/logo.gif");image-rendering: auto;padding: 6px 6px;background-color: white;width: 64px;height: 64px}

.Links > a[href="https://mega.nz/fm/QNJGiZZa"] > i > img[src]
{content: url("https://joebamna.github.io/newtab/img/MEGA.png");image-rendering: auto}

.Links > a[href="https://www.moddb.com/games/portal/mods"] > i > img[src]
{content: url("https://www.moddb.com/favicon.png");image-rendering: auto}

.Links > a[href="https://monkeytype.com/"] > i > img[src]
{content: url("https://monkeytype.com/images/favicon/apple-touch-icon.png");image-rendering: auto}

.Links > a[href="https://newgrounds.com/"] > i > img[src]
{content: url("https://img.ngfiles.com/misc/ios/apple-touch-icon-72x72.png");image-rendering: auto}

.Links > a[href="https://www.nexusmods.com/"] > i > img[src]
{content: url("https://www.nexusmods.com/apple-icon.png?apple-icon.b62fc276.png");image-rendering: auto}

.Links > a[href="https://patreon.com/home"] > i > img[src]
{content: url("https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/18/dc/97/18dc973a-4b48-1658-08f6-88944a12896e/AppIcon-0-0-1x_U007epad-0-0-85-220.png/246x0w.webp");image-rendering: auto}

.Links > a[href="https://processing.org/"] > i > img[src]
{content: url("https://joebamna.github.io/newtab/img/ProcessingJava.png");image-rendering: auto}

.Links > a[href="https://pypi.org/"] > i > img[src]
{content: url("https://pypi.org/static/images/logo-small.8998e9d1.svg");image-rendering: auto;padding: 8px 8px;background-color: #222222;width: 64px;height: 64px}

.Links > a[href="https://www.pygame.org/docs/"] > i > img[src]
{content: url("https://joebamna.github.io/newtab/img/Pygame.png");image-rendering: auto;background-image: linear-gradient(to bottom, #354735, #121A12)}

.Links > a[href="https://docs.python.org/3.11/"] > i > img[src]
{content: url("https://joebamna.github.io/newtab/img/PythonDocs.png");image-rendering: auto}

.Links > a[href="https://reddit.com/"] > i > img[src]
{content: url("https://www.redditstatic.com/shreddit/assets/favicon/192x192.png");image-rendering: auto;background-color: white;border: 7px solid transparent}

.Links > a[href="https://rust-lang.org/learn/"] > i > img[src]
{content: url("https://rust-lang.org/static/images/rust-logo-blk.svg");image-rendering: auto;background-color: white}

.Links > a[href="https://sketchfab.com/feed"] > i > img[src]
{content: url("https://static.sketchfab.com/static/builds/web/dist/static/assets/images/favicon/e59d7f2ff579bbf9d20771b3d4d8c6a7-v2.png");image-rendering: auto}

.Links > a[href="https://steamdb.info/"] > i > img[src]
{content: url("https://steamdb.info/static/logos/512px.png");image-rendering: auto}

.Links > a[href="https://steamgriddb.com/"] > i > img[src]
{content: url("https://www.steamgriddb.com/static/img/logo-512.png");image-rendering: auto}

.Links > a[href="https://terraria.wiki.gg/wiki/Terraria_Wiki"] > i > img[src]
{content: url("https://is1-ssl.mzstatic.com/image/thumb/Purple116/v4/62/14/c5/6214c563-eb00-0f93-e64b-c819c4080231/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/246x0w.webp");image-rendering: auto}

.Links > a[href="https://textual.textualize.io/"] > i > img[src]
{content: url("https://joebamna.github.io/newtab/img/Textual.svg");image-rendering: auto;padding: 6px 6px;background-color: #14151a;width: 64px;height: 64px}

.Links > a[href="https://toonhud.com/"] > i > img[src]
{content: url("https://avatars.cloudflare.steamstatic.com/ed3bdd3dafaa0b480882f3a2cf230dd935008002_full.jpg");image-rendering: auto;padding: 4px 4px;background-color: #a03532}

.Links > a[href="https://twitch.tv/"] > i > img[src]
{content: url("https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/a4/15/24/a41524d9-3c85-4af5-92e9-c8b91fa22800/TwitchAppIcon-0-0-1x_U007emarketing-0-7-0-0-0-0-85-220.png/246x0w.webp");image-rendering: auto}

.Links > a[href="https://x.com"] > i > img[src]
{content: url("https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/e8/cf/d9/e8cfd9cf-b79f-4e1c-1e15-b759e0639611/ProductionAppIcon-0-0-1x_U007emarketing-0-7-0-0-0-85-220.png/246x0w.webp");image-rendering: auto}

.Links > a[href="https://learn.viu.ca/d2l/loginh/?target=%2fd2l%2fhome"] > i > img[src]
{content: url("https://learn.viu.ca/d2l/loginh/img/viu-logo.png");image-rendering: auto}

.Links > a[href="https://virustotal.com/gui/home/upload"] > i > img[src]
{content: url("https://www.virustotal.com/gui/images/manifest/icon-192x192.png");image-rendering: auto;background-color: #fefefe}

.Links > a[href="https://youtube.com/playlist?list=PLCWh4ltZCZlz9VNrAbPaoWJXwqr2Rl1rg"] > i > img[src]
{content: url("https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/c7/6c/ef/c76cef07-13b8-be48-8698-56077a64d2d3/logo_youtube_2024_q4_color-0-0-1x_U007emarketing-0-0-0-6-0-0-0-85-220.png/246x0w.webp");image-rendering: auto}

.Links > a[href="https://icloud.com/"] > i > img[src]
{content: url("https://joebamna.github.io/newtab/img/iCloud-Dark.png");image-rendering: auto}
